<div class="menu-btns">
    <a href="/admin/index"><button class="btn btn-outline-info" id="project-btn-active">Проекты</button></a>
    <a href="/admin/cases"><button class="btn btn-outline-info" id="case-btn-active">Кейсы</button></a>
    <a href="/admin/news"><button class="btn btn-outline-info" id="news-btn-active">Новости</button></a>

</div>