.addForm{
    width: 100%;
}
.addForm input,.addForm textarea{
    width: 100%;
}
.tab-pane{
    display: flex !important;
}
.tab-pane-inside-left{
    width: 30%;
    flex-wrap: wrap;
    margin-left: 10px;
}
.tab-pane-inside{
    width: 49%;
    flex-wrap: wrap;
    margin-left: 10px;
}
.editForm{
    width: 70%;
    margin: 0 auto;
}
h3{
    text-align: center;
    padding-top: 40px;
}
.editForm label{
    font-weight: 600;

}
.img-svg-proj svg{
    height: 100px;
    width: 100px;
}
.editForm label, .editForm input, .editForm textarea, .add-case label, .add-case input, .add-case textarea, .add-case select
.addNews label, .addNews input{
    width: 100%;
}

.back button{
    position: fixed;
    top: 50%;
    transform: rotate(90deg);
}

.full-btn{
    width: 100%;
}
.menu-btns{
    display: grid;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
.active-btn{
    color: white;
    background-color: #17a2b8;
}
#addCase{
    color: white;
}
.menu-btns a button{
    width: 100%;
}